# OS X files
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.Spotlight-V100
._*

# Logs and Databases
*.log
*.sql
*.sqlite

# NodeJS
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~