[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Alexander Saavedra
	username = mralexsaavedra
	email = mralexsaavedra@gmail.com
[github]
  user = mralexsaavedra
[init]
	defaultBranch = main
[credential]
	helper = store
