<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alex.audiofix</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mralexsaavedra/Developer/dotfiles/bin/audio-fix</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Library/Preferences/Audio/com.apple.audio.SystemSettings.plist</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>