# Aliases

# General
alias ls="eza --icons --group-directories-first"
alias ll="eza --icons --group-directories-first -l"
alias cat="bat"
alias edit="windsurf"

# Git
alias g="git"
alias lg="lazygit"

# Directories
alias dotfiles="cd ~/Developer/dotfiles"
alias dev="cd ~/Developer"

# ZSH
alias reload="source ~/.zshrc && echo 'ZSH config reloaded!'"
alias zconf="code ~/.zshrc"