# Aliases

# General
alias ls="eza --icons --group-directories-first"
alias ll="eza --icons --group-directories-first -l"
alias cat="bat"
alias edit="code --wait"

# Git
alias g="git"
alias lg="lazygit"

# Directories
alias dotfiles='cd "${DOTFILES_DIR:-$HOME/Developer/dotfiles}"'
alias dev="cd ~/Developer"

# ZSH
alias reload="source ~/.zshrc && echo 'ZSH config reloaded!'"
alias zconf="code ~/.zshrc"
